.profile-photo-container {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
  }
  
  .profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;  /* Hacemos la imagen redonda */
    object-fit: cover;
    border: 2px solid #ddd; /* Borde opcional */
  }
  
  .file-input {
    display: none; /* Ocultamos el input de archivo */
  }
  