<ion-header>
  <ion-toolbar>
    <ion-title>Reservar Estacionamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="reservationForm" (ngSubmit)="submitReservation()">
    <ion-item>
      <ion-label>Tipo de Arriendo</ion-label>
      <ion-select formControlName="rentalType" placeholder="Seleccionar">
        <ion-select-option value="day">Día</ion-select-option>
        <ion-select-option value="hours">Horas</ion-select-option>
        <ion-select-option value="minutes">Minutos</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime formControlName="rentalDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Duración</ion-label>
      <ion-input type="number" formControlName="duration"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Correo</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Reservar</ion-button>
  </form>
</ion-content>
