<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button> <!-- Botón de volver -->
    </ion-buttons>
    <ion-title>Reservar Estacionamiento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="markerInfo">
    <ion-card>
      <img [src]="markerInfo.photoUrl" alt="Foto del Estacionamiento"/>
      <ion-card-header>
        <ion-card-title>{{ markerInfo.title }}</ion-card-title>
        <ion-card-subtitle>{{ markerInfo.owner }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{ markerInfo.description }}</p>
        <p><strong>Dirección:</strong> {{ markerInfo.address }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <form [formGroup]="reservationForm" (ngSubmit)="submitReservation()">
    <ion-item>
      <ion-label>Tipo de Arriendo</ion-label>
      <ion-select formControlName="rentalType" placeholder="Seleccionar">
        <ion-select-option value="day">Día</ion-select-option>
        <ion-select-option value="hours">Horas</ion-select-option>
        <ion-select-option value="minutes">Minutos</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime formControlName="rentalDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Duración</ion-label>
      <ion-input type="number" formControlName="duration"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Correo</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    
    <!-- Nota para campo requerido -->
    <ion-note *ngIf="reservationForm.get('email')?.hasError('required') && reservationForm.get('email')?.touched" color="danger">
      El correo es obligatorio.
    </ion-note>
    
    <!-- Nota para formato de correo inválido -->
    <ion-note *ngIf="reservationForm.get('email')?.hasError('email') && reservationForm.get('email')?.touched" color="danger">
      Ingresa un correo válido.
    </ion-note>
    
    
    <ion-button expand="block" type="submit">Reservar</ion-button>
  </form>
</ion-content>
