<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Reclamos y Sugerencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="reclamo-form">
    <ion-item>
      <ion-label position="floating">Selecciona un Asunto</ion-label>
      <ion-select [(ngModel)]="asunto" placeholder="Selecciona un asunto">
        <ion-select-option *ngFor="let asunto of asuntos" [value]="asunto">{{ asunto }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Escribe tu mensaje</ion-label>
      <ion-textarea [(ngModel)]="mensaje" rows="6" placeholder="Tu mensaje..."></ion-textarea>
    </ion-item>

    <ion-button expand="full" color="primary" (click)="sendReclamo()">Enviar Reclamo</ion-button>
  </div>
</ion-content>
