.login-content {
    --background: #f2f2f7; /* Color de fondo suave */
  }
  
  .login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .input-item {
    margin-bottom: 16px;
  }
  
  .action-button {
    margin-top: 12px;
  }
  
  .forgot-password-button {
    font-size: 0.9rem;
    text-decoration: underline;
    margin-top: 16px;
  }
  
  .reset-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
  }
  
  .header-title {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
  }
  