ion-content {
  --background: transparent; /* Fondo transparente para evitar cualquier color de fondo por defecto */
}

.login-content {
  background-image: url('/assets/icon/interior_login.png.png'); /* Ruta de la imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el área */
  background-position: center center; /* Centra la imagen */
  background-attachment: fixed; /* Fija la imagen al hacer scroll */
  height: 100vh; /* Asegura que la imagen cubra toda la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  max-width: 400px;
  width: 100%; /* Hace que el contenedor sea flexible */
  padding: 30px 20px; /* Añadí más padding para mejorar la apariencia */
  text-align: center;
  border-radius: 12px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra suave para dar un efecto de elevación */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-item {
  margin-bottom: 16px;
}

.action-button {
  margin-top: 12px;
}

.forgot-password-button {
  font-size: 0.9rem;
  text-decoration: underline;
  margin-top: 16px;
}

.header-title {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}
