<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="goHome()"></ion-back-button> <!-- Redirige al home -->
    </ion-buttons>
    <ion-title>Pago Confirmado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>¡Pago exitoso!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Tu membresía ha sido activada con éxito. ¡Disfruta de los beneficios!</p>
      <!-- Botón para volver al home -->
      <ion-button expand="full" (click)="goHome()">Volver al inicio</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>





