<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agrega tus autos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding add-car-content">
  <!-- Formulario para agregar auto -->
  <form (ngSubmit)="saveCar()" class="form-container">
    <!-- Marca -->
    <ion-item class="input-item">
      <ion-label position="stacked">Marca</ion-label>
      <ion-input [(ngModel)]="car.marca" name="marca" required></ion-input>
    </ion-item>

    <!-- Modelo -->
    <ion-item class="input-item">
      <ion-label position="stacked">Modelo</ion-label>
      <ion-input [(ngModel)]="car.modelo" name="modelo" required></ion-input>
    </ion-item>

    <!-- Patente -->
    <ion-item class="input-item">
      <ion-label position="stacked">Patente</ion-label>
      <ion-input [(ngModel)]="car.patente" name="patente" required></ion-input>
    </ion-item>

    <!-- Tipo de Vehículo -->
    <ion-item class="input-item">
      <ion-label position="stacked">Tipo</ion-label>
      <ion-select [(ngModel)]="car.tipo" name="tipo" placeholder="Selecciona un tipo de vehículo" required>
        <ion-select-option value="SUV">SUV</ion-select-option>
        <ion-select-option value="SEDAN">SEDAN</ion-select-option>
        <ion-select-option value="CAMIONETA">CAMIONETA</ion-select-option>
        <ion-select-option value="CAMION">CAMION</ion-select-option>
        <ion-select-option value="FURGON">FURGON</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Color -->
    <ion-item class="input-item">
      <ion-label position="stacked">Color</ion-label>
      <ion-select [(ngModel)]="car.color" name="color" placeholder="Selecciona un color" required>
        <ion-select-option value="rojo">Rojo</ion-select-option>
        <ion-select-option value="azul">Azul</ion-select-option>
        <ion-select-option value="verde">Verde</ion-select-option>
        <ion-select-option value="negro">Negro</ion-select-option>
        <ion-select-option value="blanco">Blanco</ion-select-option>
        <ion-select-option value="gris">Gris</ion-select-option>
        <ion-select-option value="amarillo">Amarillo</ion-select-option>
        <ion-select-option value="morado">Morado</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Botón para guardar -->
    <ion-button expand="block" type="submit" color="primary" class="submit-btn">Guardar Auto</ion-button>
  </form>

  <!-- Lista de autos -->
  <ion-list class="car-list">
    <ion-item *ngFor="let car of cars">
      <ion-label class="car-details">
        <h2>{{ car.marca }} - {{ car.modelo }}</h2>
        <p>{{ car.patente }} - {{ car.tipo }} - {{ car.color }}</p>
      </ion-label>
      <ion-button fill="clear" color="danger" (click)="deleteCar(car.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
