<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Membresía</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Tarjeta principal de la membresía -->
  <ion-card>
    <!-- Título de la tarjeta -->
    <ion-card-header>
      <ion-card-title>Obten tu membresía</ion-card-title>
    </ion-card-header>

    <!-- Descripción de los beneficios de la membresía -->
    <ion-card-content>
      <p>
        Con membresía se le descuenta todo costo operativo total durante el mes un 30%.
      </p>
      <p>Otros beneficios:</p>
      <ul>
        <li>Notificaciones de estacionamientos cercanos.</li>
        <li>Cancelación de reservas a último momento con cero costo adicional.</li>
        <li>Priorización a reservas.</li>
      </ul>
      <p><strong>Costo:</strong> $5,000 CLP.</p>


      <!-- Botón para procesar el pago -->
      <ion-button expand="full" (click)="procesarPago()">Pagar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
