<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Membresía</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Elige tu membresía</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Nombre del titular</ion-label>
        <ion-input [(ngModel)]="nombreTitular" placeholder="Ingresa tu nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Tipo de membresía</ion-label>
        <ion-select [(ngModel)]="tipoMembresia">
          <ion-select-option value="basica">Básica</ion-select-option>
          <ion-select-option value="premium">Premium</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Monto</ion-label>
        <ion-input [value]="monto | currency:'CLP'" disabled></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="procesarPago()">Pagar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
